.weather-widget {
  background-color: white;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.image-section p {
    text-transform:capitalize;
}

.delete-button {
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 10px;
  border: none;
  color: red;
  font-size: medium;
  transition: 0.4s ease;
  border-radius: 50%;

}

.delete-button:hover {
  background-color: lightgray;
}

.info-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 15px;
    text-wrap: nowrap;
}

@media (max-width: 768px) {
    .wheather-widget {
      flex-direction: column;
    }
  
    .image-section, .info-section {
      width: 100%;
    }
  
    .info-section {
      align-items: center;
      padding-right: 0;
    }
  }
  
  @media (max-width: 480px) {
    .wheather-widget {
      width: 100%;
    }
  
    .image-section, .info-section {
      width: 100%;
    }
  
    .info-section {
      padding-right: 0;
    }
  }