.app {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-item {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-details {
  margin: 20px;
}
