

body {
    font-family: Calibri;
    background-color: #f5f5f5;
    justify-content: center;
    display: flex;
}

.grayColor {
    color: gray;
}

.blueColor {
    color: darkblue;
}

.container {
    width: 770px;


}

