
.about-us {
    height: auto;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

.circle-item {
    text-align: center;
    width: 180px;
    margin: 0 10px; 
    
}

.circles {
    width: 150px;
    height: 150px;
    background-color: #3EB489;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto; 

}

.about-us-logos {
    width: 75px;
    height: 75px;
    padding-top: 30px;
}

.circle-title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.circle-description {
    margin-top: 5px;
    font-size: 16px;
}


.about-us-top {
    height: 700px;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of flex items */
    justify-content: space-between;
}

.big-right-circle {
    position: relative; 
    height: 200px;
    width: 900px;
    background-color: #3EB489;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-top: 400px;
    margin-right: 0px;
    /* overflow: hidden;  */

}

.bmw-car-about {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: 200px;
    margin-top: -130px;

}

.about-mission {
    height: 400px;
    width: 500px;
    margin-top: 150px;
    margin-left: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #3EB489;

}

.about h3,
.mission h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 22px;

}

.about p,
.mission p {
    margin: 0 0 10px 10px;
    font-size: 16px;
}

.about-mission hr {
    height: 1.5px;
    background-color: #3EB489;
    margin-top: 30px;

}

@media (max-width: 1200px) {
    .about-us {
        margin-left: 100px;
        margin-right: 100px;
    }

    .about-mission {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .big-right-circle {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .bmw-car-about {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .about-mission {
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
    }
}