html {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;

}

.under-header {
  height: 200px;
}



.main {
  height: auto;
}


@media (max-width: 1152px) {
  .about-mission {
      width: 100%;
      padding: 10px;
      margin: 20px 0;
  }

  .contacts {
      flex-direction: column;
      align-items: center;
      margin: 20px;
  }

  .info, .map-info {
      width: 100%;
      padding: 10px;
      text-align: center;
  }
}