

body {
    background-color: white;
    font-family: Calibri;
    margin: 0;
    padding: 0;

}
.container {
    background-color: #f5f5f5;
    width: 400px;
    margin: 50px auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px ;
    padding: 10px;
}
ol {
    list-style: none;
    padding: 0;
}
li {
    height: 25px;
    position: relative;
    padding-left: 30px;
    font-size: 15px;
}
.odd {
    background-color: #a5ccda;
}
.even {
    background-color: #add8e6;
}
.done {
    background-color: #e2e2e2;
    text-decoration: line-through;
}
.checked::before {
    content: "\2714";
    margin-right: 5px;
    color: red;
}




