.list-container {
  width: 100%;
  height: auto;
}
 
.sort-by {
  padding-top: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}

.sort-by h {
  font-size: 1.1rem;
}

.sort-select {
  width: 10rem;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
}
.sort-select option {
  font-size: 20px;
}

.shoes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
  height: auto;
  transition: 0.5s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  position: relative;
}

.card-information {
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 18px;
  margin: 5px 0;
  color: rgb(44, 44, 44);
  font-weight: 400;
}

.card p {
  font-size: 1.1rem;
  color: black;
  margin: 0;
  padding: 0;
}

.like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none; /* Скрыть кнопку по умолчанию */
}

.card:hover .like-button,
.like-button.liked {
  display: block; /* Показать кнопку при наведении на карточку или если она лайкнута */
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: none;
  color: inherit;
}

.like-button img {
  width: 20px;
  height: 20px;
}
.like-button:hover img {
  content: url("../../Logos/red-like.svg");
}

.like-button.liked img {
  content: url("../../Logos/red-like-fill.svg");
}

* {
  /* border: 1px solid red */
}
