.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-color: black;
  border: 3px solid;
}

.hour-arrow {
  background-color: black;
  width: 70px;
}

.minute-arrow {
  background-color: black;
  width: 150px;
}

.second-arrow {
  background-color: black;
  width: 230px;
}
