.arrivals-carousel-container {
  margin: 70px auto;
  padding: 0 20px;
}

.arrivals-carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.arrivals-carousel-left-side,
.arrivals-carousel-right-side {
  flex: 1;
}

.arrivals-carousel-left-side {
  padding-right: 20px;
}

.arrivals-carousel-right-side {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .arrivals-carousel {
    flex-direction: column;
  }

  .arrivals-carousel-left-side,
  .arrivals-carousel-right-side {
    padding: 0;
  }
}
